# git ls-files --others --exclude-from=.git/info/exclude
# git ls-files --others --exclude-from=.gitignore

*~
.*.sw[nop]
*.user
Thumbs.db
obj/
bin/
*.pyc
*.suo
*.log
#*.min.js
#*.min.js.map

private/
backupZips/
/3p/
