*~
.*.sw[nop]
Thumbs.db
*.suo
obj/
bin/
Output/

private/
backupZips/
/3p/

*.exe
*~
*.o
*.so
*.tmp
*.lock
.DS_Store

*.dSYM
.rust
*.dylib
*.rlib

*.pyc
*.pyo

obj
bin
/build/
/dist/
/wheelhouse/

/*.egg-info/
/venv/
