Options +FollowSymLinks
RewriteEngine On

RewriteCond %{HTTP_HOST} ^(www\.)?kevincantu.com [NC]
RewriteCond %{HTTP_HOST} !^$
RewriteRule ^(.*) http://kevincantu.org/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^(www\.)?kevincantu.net [NC]
RewriteCond %{HTTP_HOST} !^$
RewriteRule ^(.*) http://kevincantu.org/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^www.kevincantu.org [NC]
RewriteCond %{HTTP_HOST} !^$
RewriteRule ^(.*) http://kevincantu.org/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^(www\.)?waningsun.net [NC]
RewriteCond %{HTTP_HOST} !^$
RewriteRule ^(.*) http://kevincantu.org/$1 [L,R=301]